.cardContainer{
    display: grid;
    grid-template-columns: 110px 1fr;
    height: 110px;
    padding: .3em;
    border: solid 1px var(--verde);
    column-gap: .4em;
    color: var(--verde);
    overflow: hidden;
}

.cardImagem{
    width: 100%;
    height: 100%;
    background-color: red;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardTexto{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .3em;
    overflow: hidden;
}

@media screen and (min-width: 425px){
    .cardContainer{
        grid-template-columns: 130px 1fr;
        height: 125px;
    }
}
@media screen and (min-width: 768px){
    .cardContainer{
        grid-template-columns: 210px 1fr;
        height: 150px;
    }
}
@media screen and (min-width: 1024px){
    .cardContainer{
        grid-template-columns: 300px 1fr;
        height: 200px;
        padding: .7em;
        column-gap: 1em;
    }
}