@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  /* Fontes */
  --fonte-primaria: "Open Sans", sans-serif;
  --fonte-secundaria: "Lato", sans-serif;
  --fonte-terciaria: "Inter", sans-serif;
  --fonte-cursiva: "Parisienne", 'cursive';

  /* Cores */
  --verde-escuro: #236D45;
  --verde-claro: #47B479;
  --azul-claro: #10096e;
}

body {
  scroll-behavior: smooth;
}

/* Full Calendar */
.fc-daygrid-day-events{
  margin: 0!important;
  min-height: 1.5em!important;
  cursor: pointer!important;
}

.fc-day-today{
  background-color: var(--verde-claro)!important;
}

.fc-today-button {
  background-color: var(--verde-claro)!important;
}
.fc-prev-button, .fc-next-button{
  background-color: var(--verde-escuro)!important;
}

.fc-daygrid-day-bottom{
  background-color: burlywood;
}
.fc-toolbar-title{
  font-size: 1.4em!important;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  line-height: 1em;
}
.fc-header-toolbar {
  gap: .5em;
}
.fc-header-toolbar .fc-toolbar-chunk:nth-child(3){
  display: flex;
  gap: .5em;
}
.fc-button-group{
  margin: 0!important;
}
/* Mapa */
.leaflet-popup-content-wrapper {
  width: 200px !important;
  height: 200px !important;
}

.pontosCircular .leaflet-marker-icon {
  border-radius: 100%;
  border: solid 1px var(--verde-escuro);
}

.leaflet-marker-icon {
  border-radius: 100%;
  border: solid 1px var(--verde-claro);
}

/* imagem */
.p-image {
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
}

.p-image img {
  object-fit: cover !important;
}

::-webkit-scrollbar-track {
    background-color: var(--verde-claro);
}
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background: var(--verde-escuro);
}
::-webkit-scrollbar-thumb {
    background: var(--verde-escuro);
}
.sidebar .p-accordion-content{
  padding: 0!important;
  padding-top: 1em!important;
}
@media screen and (min-width:375) {
}

@media screen and (min-width:425px) {
  
}

@media screen and (min-width:768px) {
  .fc-toolbar-title{
    font-size: 1.8em!important;
  }
  .fc-event-main {
    display: block;
  }

  .fc-daygrid-day-number {
    font-size: 1rem;
    top: 2px;
    right: 4px;
  }

  .fc-toolbar-chunk:nth-child(3) {
    /* background-color: red; */
    display: grid !important;
    grid-template-columns: 100px 1fr;
  }

  .fc-daygrid-day-bottom .fc-daygrid-more-link {
    font-size: 1em;
  }
}

@media screen and (min-width:1024px) {
  /* Mapa */
  .leaflet-popup-content-wrapper {
    width: 250px !important;
    height: 250px !important;
  }

}