@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
  --verde: #009846;
  --verde-hover: #017a3a;
  --verde-claro: #47B479;
  --verde-escuro: #19442D;
  --marrom: #AC1B1B;
  --cinza: #F1F0E8;
  --fonte-primaria: "Parkinsans", sans-serif;
  --fonteSlogan: "Playwrite NL Guides", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--fonte-primaria);
}

.caixa {
  display: flex;
  position: relative;
  max-width: 95%;
  margin: 0 auto;
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-last,
.p-paginator .p-inputwrapper {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--verde) !important;
}

* {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: #666;
}

*::-webkit-scrollbar-thumb {
  background: green;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.teste .leaflet-map-pane .leaflet-shadow-pane > img{
  background-color: red;
  display: none;
}
.teste .leaflet-map-pane .leaflet-marker-pane > img{
  background-color: red;
  display: none;
}

@media screen and (min-width: 425px) {
  .caixa {
    max-width: 95%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .caixa {
    grid-template-columns: 190px 1fr;
    gap: 1em;
  }
}

@media screen and (min-width: 1280px) {
  .caixa {
    grid-template-columns: 300px 1fr;
    gap: 1em;
  }
}